*, *::before, *::after {
  box-sizing: border-box;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "sidebar slider uploader"
    "sidebar image image";
}

.main-image {
  grid-area: image;
}

.sidebar{
  grid-area: sidebar;
}

.slider-container{
  grid-area: slider;
  margin-top: 50px;
}

.slider{
  width:50%;
  cursor:pointer;
}

.uploader{
  grid-area: uploader;
}